<!-- <% if (errors) {%>
  <% errors.forEach(function (error) { %>
    <%= __(error) %>
  <% }) %>
<% } %> -->
angular login
<form role="form" ng-submit="login()">
  <input type="text" name="identifier" placeholder="Username or Email" ng-model="loginForm.identifier">
  <input type="password" name="password" placeholder="Password" ng-model="loginForm.password">
  <button type="submit">Sign in</button>
</form>
<span ng-model="currentUser">{{currentUser}}</span>

<!-- <% if (Object.keys(providers).length) {%> -->
  <h4>You can also use one of these...</h4>

  <!-- <% Object.keys(providers).forEach(function (key) { %>
    <a href="/auth/<%= providers[key].slug %>" role="button"><%= providers[key].name %></a>
  <% }) %>
<% } %> -->
