<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      
      <current-user></current-user>

      <div class="login">
        <a ui-sref="register">Register</a> |
        <a ui-sref="login">Login</a> |
        <div ng-controller="LogoutController">
          <a ng-click="logout()">Logout</a>
        </div>

      </div>
      <div class="menu">
        <a ui-sref="users">Users</a> | <a ui-sref="products">Products</a> |
      </div>
    </nav>
    <div ui-view></div>

  </body>
</html>
