<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <div class="login">
        <a>Login</a> |
        <a>Logout</a>
      </div>
      <div class="menu">
        <a ui-sref="users">Users</a> |
      </div>
    </nav>
    <div ui-view></div>

  </body>
</html>
